<nav class="nav-bar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>TAIO - Test All In One</strong></a>
    </div>

    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input [(ngModel)]="query"type="text" class="form-control" name="search" placeholder="Search">
      </div>
      <!--<button type="submit" class="btn btn-default">Submit</button>-->
    </form>

  </div>
</nav>

<div class="row">
  <div class="col-xs-12">
    <div class="row" style="padding-left:10px; padding-right:10px">
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail" style="background-color: black; border-radius: 8px;">
          <div style="padding-top: 80px; padding-bottom:80px; text-align: center">
            <i class="fa fa-plus-square fa-5x" style="color: white; cursor:pointer"
              (click)="confirmCreate()"></i>
          </div>

        </div>
      </div>
      <div *ngFor="let node of queryNodes(query)"
           class="col-sm-4 col-md-3"
           (click)="onSelect(node)">
        <div class="thumbnail" style="background-color: black; border-radius: 8px;">
          <div class="caption" style="color: white">
            <h4>
              {{node.enbId}}
              <i class="fa fa-trash"
                 style="float:right; color:#992222; cursor:pointer"
                 (click)="confirmRemove(node.enbId)"></i>
            </h4>
            <h4><a href="http://147.128.83.24:4200/?{{node.oamIp}}" target="_blank">{{node.oamIp}}</a></h4>
          </div>
          <div class="list-group">
            <div class="list-group-item" style="cursor:pointer"
              (click)="showCellDetails(node)">
              Cell
              <div style="float:right">
                <i *ngFor="let cell of node.cell"
                   fa [size]=0 [name]="cellIconName(cell)"
                   data-toggle="tooltip"
                   [style.color]="cellIconColor(cell)"
                   [style.padding]="'2px'"
                   title="{{cell.cellId}} {{cell.admState}} {{cell.opState}}"
                   ></i>
              </div>
            </div>
            <div class="list-group-item" style="cursor:pointer"
              (click)="showAlarmDetails(node)">
              Alarm
              <div style="float:right">
                <span class="badge" *ngIf="node.alarm.length > 0" style="background-color:#c00000">{{node.alarm.length}}</span>
              </div>
            </div>
            <div class="list-group-item" style="cursor:pointer"
              (click)="showBoardDetails(node)">
              <div style="display:inline-block">
                Board
              </div>
              <div style="float:right; display:inline-block">
                <i *ngFor="let board of node.board"
                   fa [size]=0 [name]="boardIconName(board)"
                   data-toggle="tooltip"
                   [style.color]="boardIconColor(board)"
                   [style.padding]="'2px'"
                   title="{{board.boardType}} OPER:{{board.operLED}} FAULT:{{board.faultLED}} MAINT:{{board.maintLED}}"
                   ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

