
<div class="grid grid-pad">
  <div *ngFor="let node of nodes"
		class="col-1-4"
    (click)="onSelect(node)">
    <div class="module">
      <table width="100%">
        <tr>
          <td>
            <i fa [name]="'building'"></i>
          </td>
          <td>
            {{node.enbId}}
            <span class="node-type">{{node.Type}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <a href="http://147.128.83.29:4200/?{{node.oamIp}}" target="_blank">
              <i fa [name]="'tty'"></i>
            </a>
          </td>
          <td>
            {{node.oamIp}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
